.bg-1{
    background:#f8f9fa;
}
.bg-2{
    background: #e9ecef;
}
.flex-grow-5{
    flex-grow: 5;
}
.icon-font-size{
    font-size: 20px!important;
}
/* i.fa {
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 10px;
  } */
.max-w{
    max-width: 862px;
}

.timeWork ul{
    list-style: none!important;
    margin: 0;
    padding: 0;
    position: relative;
}
.timeWork ul::before{
    content: '';
    position: absolute;
    top: 0 !important;
    left:123px !important;
    height: 100%;
    width: 2px;
    border: 2px solid red;
}
.p-left{
    padding-left: 139px!important;
}



.timeWork ul span{
    content:'';
    position: absolute;
    top:0;
    left: 125px;
    width: 0;
    height: 100%;
    /* border: 1px solid #aaa; */
}
.timeWork ul span::before , .timeWork ul span::after{
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid #aaa;
    position: absolute;
    border-radius: 50%;
} 
.timeWork ul span::before{
    top: -14px;
    left: -7px;
}

.timeWork ul .time{
    content:'';
    position: absolute;
    top:-15px;
    left: 0px;
    width: auto;
    height: 100%;
    /* border: 1px solid #aaa; */
}

.timeWork ul span::after{
    top:100%;
    left: -7px;
}

.bg_icon{
    background: #212529d6;
    padding: 3.5px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    color: white;
}




























